name: Test

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - name: Restore Geodat Cache
        uses: actions/cache/restore@v5
        with:
          path: resources
          key: xray-geodat-
          enableCrossOsArchive: true
      - name: Download Geodat if missing
        shell: bash
        run: |
          mkdir -p resources
          if [ ! -s "resources/geoip.dat" ]; then
            echo "Downloading geoip.dat..."
            curl -L -o resources/geoip.dat https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geoip.dat
          fi
          if [ ! -s "resources/geosite.dat" ]; then
            echo "Downloading geosite.dat..."
            curl -L -o resources/geosite.dat https://github.com/Loyalsoldier/v2ray-rules-dat/releases/latest/download/geosite.dat
          fi
      - name: Test
        run: go test -timeout 1h -v ./...
